@page "/clients"
@using VillageRentals.Components.Controller
@using VillageRentals.Components.Models
@inject ClientController ClientController


<h3>Client Management</h3>

<EditForm Model="newCustomer" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <div>
            <label for="firstName">First Name</label>
            <InputText id="firstName" @bind-Value="newCustomer.FirstName" style="margin-bottom: 8px" />
        </div>
        <div>
            <label for="lastName">Last Name</label>
            <InputText id="lastName" @bind-Value="newCustomer.LastName" style="margin-bottom: 8px" />
        </div>
        <div>
            <label for="phone">Phone</label>
            <InputText id="phone" @bind-Value="newCustomer.Phone" style="margin-bottom: 8px" />
        </div>
        <div>
            <label for="email">Email</label>
            <InputText id="email" @bind-Value="newCustomer.Email" style="margin-bottom: 8px" />
        </div>
        <div>
            <label for="note">Note</label>
            <InputText id="note" @bind-Value="newCustomer.Note" style="margin-bottom: 8px" />
        </div>

        <button type="submit">Add Client</button>
    </div>
</EditForm>

<h4>Display Clients</h4>
<ul>
    @foreach (var customer in customers)
    {
        <li>Client Name: "@customer.FirstName @customer.LastName" | Phone:"@customer.Phone" | Email:"@customer.Email" | Note:"@customer.Note"</li>
    }
</ul>

@code {
    private Customer newCustomer = new Customer(0, "", "", "", "", "");
    private List<Customer> customers;


    protected override void OnInitialized()
    {
        //when the page appears, ALL customers(clients) will appear for the user.
        customers = ClientController.GetAllClients();
    }

    private void HandleValidSubmit()
    {
        //addclient method
        ClientController.AddClient(newCustomer.FirstName, newCustomer.LastName, newCustomer.Phone, newCustomer.Email, newCustomer.Note);

        //display client method
        customers = ClientController.GetAllClients();

        //reset the customers
        newCustomer = new Customer(0, "", "", "", "", "");
    }
}
